* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d7e9e2;
    color: gray;
}

body .home {
    color: #CADBD4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-clip: padding-box;
    border: 3px solid rgba(0,0,0,0);
    background-color: #67E0D0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #62d6c7;
}

header {
    position: fixed;
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 66px;
    z-index: 99;
    transition: box-shadow 1000ms ease, -webkit-box-shadow 1000ms ease, -moz-box-shadow 1000ms ease;
    background-color: rgba(0,0,0,0.3);
}

.header-scrolled {
    -webkit-box-shadow: 0px 11px 25px -14px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 11px 25px -14px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 11px 25px -14px rgba(0, 0, 0, 0.23);
    background-color: #d7e9e2;
}

.logo {
    height: 33px;
    transition: transform 1.7s cubic-bezier(.23,1,.32,1);
}

body.loaded .logo {
    transform: rotate(1turn);
}

.logo-link {
    margin: 15px 45px;
    padding: 0;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    position: fixed;
    top: 0;
    right: 0;
}

li {
    display: inline;
}

a, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 20px;
}

button.button {
    margin: 15px 0 0 0;
}

nav a {
    padding: 12px 15px;
}

.icons-container {
    position: fixed;
    bottom: 65px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    padding: 10px 0;
}

.icons-container a {
    padding: 0;
    margin: 15px;
}

.icons-container .behance {
    padding-bottom: 10px;
}

.icon {
    height: 20px;
    max-width: 25px;
}

section {
    position: relative;
    height: 100%;
    z-index: 1;
}

.content, .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > div {
    max-width: 60vw;
}

.home {
    padding: 250px 0;
    background-image: url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home div {
    background-color: rgba(0,0,0,0.3);
    padding: 15px;
}

h1 {
    font-size: 60px;
    font-family: 'Baloo Da 2', cursive;
    color:  #62d6c7;
    font-display: block;
    line-height: 1.0;
}

.button {
    background: linear-gradient(325deg, rgba(182,245,190,1) 0%, rgba(96,219,208,1) 100%);
    border-radius: 8px;
    border: none;
    text-align: center;
    margin: 15px 15px 0 0;
    min-width: 100px;
    padding: 10px 15px;
    display: inline-block;
}

.button:hover {
    filter: saturate(2) brightness(0.90);
}

.button:active {
    transform: translateY(2px);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: gray;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 100px;
}

.home-text {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.text {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.text-centered {
    text-align: center;
}

.jump {
    float: right;
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 99;
    cursor: pointer;
    display: block;
}

.arrow {
    height: 30px;
    position: relative;
    left: 38px;
    bottom: 5px;
    animation: move 2s ease infinite;
}

@keyframes move {
    from {
        bottom: 10px;
        opacity: 0%;
    }
    to {
        bottom: 30px;
        opacity: 100%;
    }
}

.jump:hover,
a:hover,
button:hover,
.header-scrolled a:hover {
    color: #2a524b;
}

nav a:hover {
    color: #CADBD4;
}

.none {
    display: none;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-logo {
    height: 75px;
    margin: 35px;
}

.content > .projects {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    padding: 20px;
    justify-content: space-evenly;
    border: solid #CADBD4 2px;
    border-radius: 8px;
}

.project .text {
    padding: 20px 0;
}

.project-text {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #62d6c7;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 25px;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-bottom: 40px;
}

.technologies {
    padding: 20px 0;
}

.technologies span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: gray;
    text-transform: uppercase;
    background-color: honeydew;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 3.0;
}

.email {
    color: #62d6c7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 55px 0 15px 0;
    text-align: center;
}

#contact {
    padding-bottom: 130px;
}

footer {
    padding: 10px 0;
    -webkit-box-shadow: 0px -11px 25px -14px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px -11px 25px -14px rgba(0, 0, 0, 0.23);
    box-shadow: 0px -11px 25px -14px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: space-around;
}

footer a {
    padding: 13px 0 10px 0;
}

@media only screen and (max-width: 615px) {
    .email {
        font-size: 16px;
        padding: 30px 0 20px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    footer a {
        align-self: center;
    }

    li {
        display: block;
    }

    .logo-link {
        margin: 15px 20px;
    }

    .jump {
        display: none;
    }

    .icons-container {
        width: 100vw;
        max-width: 100%;
        position: static;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .icons-container .behance {
        padding-bottom: 0;
    }

    #contact {
        padding-bottom: 70px;
    }

    .content > div {
        max-width: 85vw;
    }

    h2 {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .project {
        margin-bottom: 20px;
    }

    .mobile {
        display: inline-block;
    }

    nav ul {
        text-align: center;
        display: none;
        position: static;
    }

    li {
        padding: 15px;
    }

    .menu-link {
        display: inline-block;
        padding: 25px 70px 26px;
        cursor: pointer;
    }

    .logo-link {
        margin: 15px 30px;
    }

    .show {
        display: block;
    }

    .menu-list {
        z-index: 100;
    }

    nav div {
        position: fixed;
        top: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
    }

    .header-scrolled div {
        background-color: #d7e9e2;
        box-shadow: 0px 11px 25px -14px rgba(0, 0, 0, 0.23);
    }
}