* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #838b8b;
}

header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.logo {
    height: 33px;
    margin: 15px 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    float: right;
}

li {
    display: inline;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 15px;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}

section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

h1 {
    font-size: 53px;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.name {
    color: #f9f14f;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: gray;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 90px;
}

.text {
    font-family: 'Lato', sans-serif;
    padding: 10px 0;
}

.contact-text {
    height: 300px;
}

.home,
.contact-text {
    display: grid;
    place-items: center;
}

.jump {
    float: right;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    display: block;
}

.arrow {
    height: 30px;
    position: relative;
    left: 45px;
    bottom: 30px;
}

.jump:hover,
a:hover {
    color: #555;
}

.none {
    display: none;
}

.skills {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-logo {
    height: 100px;
    padding: 15px;
}

.email {
    color: #f9f14f;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 15px 0;
}
